/* CSS stillerinizi buraya girin */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/style/arkaplan.jpeg");
}
header {
  margin-top: 0px;
  display: inline-block;
  text-align: left;
  background: #353944;
  width: 98vw;
  height: 135px;
  color: white;
  padding: 15px;
}
header div {
  display: flex;
  justify-content: space-between;
}
header div img {
  width: 100px;
  height: auto;
  margin-right: 3vw;
  filter: brightness(1);
}
.content-text {
  vertical-align: bottom;
  padding: 10px 5% 10px 5%;
  width: 50vw;
}
.content-img {
  display: inline-block;
  width: 50vw;
  height: auto;
}
.content-row {
  display: flex;
}

.yakinlastirma {
  display: inline-flex;
  margin: -2px;
}
h1 {
  width: 30%;
  margin-top: 20px;
  margin-left: 14px;
  margin-bottom: 20px;
}
header nav a {
  margin-bottom: 100px;
  color: white;
  padding: 10px;
  background-color: #169cc6;
  text-decoration: none;
}

h2 {
  margin-left: 9px;
  margin-top: 90px;
  margin-bottom: 25px;
}
main a {
  margin-bottom: 25px;
  padding: 7px 25px;
  background-color: aqua;
  border-radius: 8%;
  text-decoration: none;
}
main p {
  margin-top: 20px;
}
section div {
  display: inline-block;
  margin-top: 1vh;
  margin-left: 0.3vw;
  width: 23.7vw;
  height: auto;
  text-align: center;
}
section img {
  width: 100%;
}

nav p {
  display: inline-flex;
  margin-left: 90px;
  margin-top: 5px;
  width: 14%;
  text-align: center;
}
footer {
  text-align: center;
  height: 170px;
  background: #353944;
  width: 100vw;
}
footer p {
  padding: 45px;
  /* margin-top: 45px; */
  margin-bottom: -20px;
}
footer a {
  background-color: #169cc6;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
}
@media (max-width: 500px) {
  section div {
    display: inline-block;
    justify-content: space-around;
    margin-top: 2vh;
    margin-left: 5vw;
    width: 40vw;
  }
}
